// -------------------------
// app色调
$primary: #0099FF;

$gray: #D3DCE6;
$gray-light: #E5E9F2;
$gray-lighter: #EFF2F7;

$success: #13CE66;
$info: #00BCD4;
$warning: #F7BA2A;
$danger: #FF4949;

$pink: #E91E63;
$cyan: #00BCD4;
$yellow: #FFEB3B;
$orange: #FF5722;
$purple: #9C27B0;
$blue-light: #58B7FF;
$blue-dark: #1D8CE0;
$white: #FFFFFF;

// 字体颜色
$font-color-title: #1f2f3d;
$font-color-body: #5e6d82;
$font-color-light: #99A9BF;
$font-color-lighter: #C0CCDA;

// 侧边栏背景色
$sidebar-bg: #293038;

// 边框颜色
$border: #eaeefb;
