body{
  background: #f5f7fa;
}
.userReset{
  position: fixed;
  z-index: 2;
  width:100%;
  height:60px;
  .el-menu-top {
    background: #3a9ada;

    .left_head {
      position: absolute;
      width: 218px;
    }

  }


    .el-submenu__title{
      color: #fff;
      float: right;
    }
  }
  .head_img1{

    width: 100%;
    line-height: 60px;
    cursor: pointer;
    background: #324157;
    height: 60px;

    img{
      width: 30px;
      height: 30px;
      position: relative;
      top: 8px;
      margin-left: 30px;
    }
    span{
      color: #fff;
      font-size: 20px;
    }
  }
.resetMain{
  width:1000px;
  margin:10px auto;

  .resetTit{
    line-height:40px;
    border-left:3px solid green;
    padding-left:8px;
    font-weight:normal;
    font-size: 24px;
    color: #555;
  }
  .resetForm{
    background: #fff;
    padding:50px 0 10px;

    .el-form-item__label{
      width:200px!important;
    }
    .el-form-item__content{
      display: inline-block;
      width: 500px;

      .auth{
        width:394.5px;
      }
      .authBtn{
        display: inline-block;
      }
    }
    .saveBtn .el-form-item__content{
      margin-left:200px!important;
      text-align: right;
    }
  }
}
@media screen and (max-width: 767px){
  .resetMain{
    width: auto;
    padding:0 10px;
    margin:10px 0;

    .resetForm{
      .el-form{
        .resetPwd{
          &:nth-child(2){
            .el-form-item__content{
              width: 50%;
            }
          }
          .el-form-item__label{
            width: 30%!important;
          }
          .el-form-item__content{
            width: 70%;
          }

        }
      }
    }
  }
}
